body{
	 direction: rtl !important ;
	 line-height:20px;
}
#container,.sort label {
	text-align: right;
}
.dropdown-menu{
	text-align:right !important;
	left: 0 !important;
    right: 0 !important;
}
ul{
	direction: rtl !important ;
}
.pull-left,.footer3 .contact ul li:first-child .fa,.blog .image,.header2 #mega_menu,.header3 ul.megamenu > li,.header4 ul.megamenu > li,.footer2 .contact ul li:first-child .fa,.contact-form .detail li:first-child .fa,.product-list .product-thumb .image{
    float: right !important;
}
.pull-right{
    float: left !important;
}
.text-right{
	 text-align:left !important;
}

#top #form-currency .currency-select, #top #form-language .language-select,.header4 #form-language .dropdown-menu .btn-link {
    text-align: right;
}
#top-links .icon li:last-child {
    padding-right: 23px;
}
#top #form-language .btn-link{
    padding: 0px 0px 0 10px;
}
#top #form-language .btn-link,#top .btn-link, #top-links .button li a{
    border-left: 1px solid #fff;
    border-right:none;
    padding-right: 0;
    padding-left: 17px;
}
#top-links .button li:last-child a{
    border: none;
}
.product-thumb .caption ul li i{
    margin-left: 5px;
}
.product-thumb .caption ul li{
    padding: 0px 0 0 18px;
}
.footer3 .contact ul li .fa {
    margin-right: 0;
    margin-left: 12px;
}
.footer3 .subscribe .btn-default {
    border-radius: 50px 0 0 50px;
}
.product-thumb .buttons .rotate1{
    margin-left: 0 !important;
    margin-right: 25px;
}
.header2 #top-links .button li a i,.header3 #top-links .button li a i{
    margin-left: 10px;
    margin-right: 0;
}
.header3 #top-links .button li a{
    padding-left: 0;
}
.header3 #top-links .icon li:last-child {
    padding-right: 0;
}
.header4 header .button-login{
    right:auto;
    left:15px;
}
.socialicon li:last-child {
    margin-right: 25px;
}
.footer2 .contact ul li .fa{
    margin-right: 0;
    margin-left: 21px;
}
.footer2 .tags ul li{
    margin: 0 0px 10px 9px; 
}
.footer2 .socialicon{
    float: right;
}
.footer3 .socialicon li{
    margin-right: 0;
}
.socialicon li,.socialicon li:last-child{
    margin-right: 0;
    margin-left: 25px;
}
footer li a i {
    margin-right:0;
    margin-left: 7px;
}
.footer3 .socialicon li .fa{
    left: 0;
    right: 0;
    margin: 0 auto;
}
.socialicon{
    margin-right: 0;
}
.slider2 .off {
    right: 30%;
    left: auto;
}
.slider-caption .btnsrch{
    left:0;
    right: auto;
}
.breadcrumb > li::after {
    right: auto;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    left: 2px;
}
.breadcrumb > li + li {
    margin-left: 0px;
    margin-right: -3px;
}
.contact-form .detail li .fa{
    margin-right: 0;
    margin-left: 20px;
}
#list-view {
    margin-right: 0px;
    margin-left: 10px;
}
header .button-login .btn-default, header .button-login .btn-primary{
    padding: 12px 20px;
}
.sort .keyword li{
    margin-right: 0;
    margin-left: 16px;
}
.product-thumb .caption{
    text-align: right !important;
}
.leftside .job-content img{
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.leftside .job-content ul li {
    padding: 0px 0px 0 12px;
}
.jobdetail .left-side ul {
    padding: 21px 15px 0px 0;
}
.login-form .form .form-group .confirmation input{
    margin: 0 0px 0 10px;
}
.graphic ul li i {
    float: right;
    margin-right: 0;
    margin-left: 8px;
}
.jobdetail .left-side ul li h5 i{
    margin-right: 0;
    margin-left: 7px;
}
.job-joblist .product-list .product-thumb .caption {
    margin-right: 258px !important;
    margin-left: 0 !important;
}
.product-list .product-thumb .btn-info{
    margin-left: 30px;
    margin-right: 0;
}